In [57]:
import pandas as pd

In [58]:
var_data = pd.read_csv('census_vars_tract.csv')
distances = pd.read_csv('tract_manhattan_distances.csv')
tracts = pd.read_csv('Allegheny_County_Census_Tracts_2016.csv')['TRACTCE']

In [60]:
var_data.columns

Index(['est_total_pop_u18', 'est_total_pop_u18_in_households',
       'est_total_pop_u18_in_households_5yrs',
       'est_total_pop_u18_in_households_6to8yrs', 'total_pop',
       'est_total_household_income', 'est_total_household_income_u10k',
       'est_total_household_income_10to15k',
       'est_total_household_income_15to20k',
       'est_total_household_income_20to25k',
       'est_total_household_income_25to30k',
       'est_total_household_income_30to35k',
       'est_total_household_income_35to40k',
       'est_total_household_income_40to45k',
       'est_total_household_income_45to50k',
       'est_total_household_income_50to60k',
       'est_total_household_income_60to75k',
       'est_total_household_income_75to100k',
       'est_total_household_income_100to125k',
       'est_total_household_income_125to150k',
       'est_total_household_income_150to200k',
       'est_total_household_income_200kplus', 'state', 'county', 'tract',
       'GEOID'],
      dtype='object')

In [61]:
total_pop = var_data['est_total_pop_u18_in_households_6to8yrs'].sum()
total_pop

36311

In [62]:
# var_data['below50k'] = var_data['est_total_household_income_u10k'].astype(int) + var_data['est_total_household_income_10to15k'].astype(int) + var_data['est_total_household_income_15to20k'].astype(int) + var_data['est_total_household_income_20to25k'].astype(int) + var_data['est_total_household_income_25to30k'].astype(int) + var_data['est_total_household_income_30to35k'].astype(int) + var_data['est_total_household_income_35to40k'].astype(int) + var_data['est_total_household_income_40to45k'].astype(int) + var_data['est_total_household_income_45to50k'].astype(int)
# var_data['below50asperc'] = var_data['below50k'] / var_data['est_total_household_income'].astype(int)

var_data['below60k'] = var_data['est_total_household_income_u10k'].astype(int) + var_data['est_total_household_income_10to15k'].astype(int) + var_data['est_total_household_income_15to20k'].astype(int) + var_data['est_total_household_income_20to25k'].astype(int) + var_data['est_total_household_income_25to30k'].astype(int) + var_data['est_total_household_income_30to35k'].astype(int) + var_data['est_total_household_income_35to40k'].astype(int) + var_data['est_total_household_income_40to45k'].astype(int) + var_data['est_total_household_income_45to50k'].astype(int) + var_data['est_total_household_income_50to60k'].astype(int)
var_data['below60asperc'] = var_data['below60k'] / var_data['est_total_household_income'].astype(int)

In [63]:
morethan50below60k = var_data[var_data['below60asperc'] > 0.5]
pop = morethan50below60k['est_total_pop_u18_in_households_6to8yrs'].sum()
pop / total_pop

0.4021646333067115

In [64]:
morethan50below60k

,est_total_pop_u18,est_total_pop_u18_in_households,est_total_pop_u18_in_households_5yrs,est_total_pop_u18_in_households_6to8yrs,total_pop,est_total_household_income,est_total_household_income_u10k,est_total_household_income_10to15k,est_total_household_income_15to20k,est_total_household_income_20to25k,...,est_total_household_income_100to125k,est_total_household_income_125to150k,est_total_household_income_150to200k,est_total_household_income_200kplus,state,county,tract,GEOID,below60k,below60asperc
1,1119,1119,0,150,6012,2706,173,159,116,128,...,294,77,189,133,42,3,484500,42003484500,1512,0.558758
2,178,122,5,28,6652,322,39,49,51,41,...,0,3,41,0,42,3,10300,42003010300,257,0.798137
4,100,100,0,9,1576,600,253,16,55,36,...,14,13,27,3,42,3,40200,42003040200,511,0.851667
5,43,43,0,0,2212,960,285,154,71,45,...,18,21,8,0,42,3,40600,42003040600,834,0.868750
6,368,368,17,73,1043,399,82,28,54,8,...,20,15,0,7,42,3,101600,42003101600,301,0.754386
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,373,373,9,45,2045,845,40,12,41,71,...,65,55,13,20,42,3,320400,42003320400,506,0.598817
392,1188,1188,97,197,5431,2234,63,96,104,283,...,156,58,90,56,42,3,480101,42003480101,1381,0.618174
393,813,813,80,92,3324,1379,251,93,114,104,...,70,70,0,26,42,3,481000,42003481000,951,0.689630
396,136,136,0,11,870,438,47,57,38,99,...,0,33,6,0,42,3,552200,42003552200,350,0.799087
397,159,159,3,34,1244,665,34,51,35,60,...,34,43,44,39,42,3,60500,42003060500,367,0.551880

In [65]:
morethan50below60k.to_csv('low_income_census_vars_tract.csv', sep=',', index=False)

In [66]:
ix = list(morethan50below60k.index)

In [67]:
low_income_distances = distances.loc[distances.index.isin(ix)]

In [68]:
low_income_distances

,0,1,2,3,4,5,6,7,8,9,...,139,140,141,142,143,144,145,146,147,148
1,0.122704,0.037267,0.177165,0.114130,0.199513,0.119863,0.056195,0.248719,0.210386,0.448500,...,0.197113,0.158554,0.083358,0.044317,0.048826,0.181683,0.092276,0.138376,0.083246,0.270383
2,0.118435,0.032998,0.172896,0.082394,0.195244,0.151600,0.069323,0.216982,0.178649,0.416764,...,0.228849,0.126818,0.087627,0.033682,0.043009,0.177414,0.124012,0.170112,0.114982,0.274652
4,0.089015,0.003579,0.143476,0.081754,0.165824,0.152240,0.089884,0.216342,0.178009,0.416124,...,0.229490,0.126178,0.117046,0.011941,0.016449,0.147994,0.124653,0.170753,0.115623,0.304072
5,0.079379,0.022420,0.133839,0.057642,0.156188,0.176352,0.099520,0.192230,0.153897,0.392012,...,0.253602,0.102066,0.126683,0.012171,0.007663,0.138358,0.148764,0.194865,0.139735,0.313709
6,0.078233,0.008110,0.132694,0.071952,0.155042,0.162042,0.100666,0.206541,0.168208,0.406322,...,0.239291,0.116376,0.127829,0.006520,0.006648,0.137212,0.134454,0.180554,0.125424,0.314854
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,0.332193,0.246756,0.386654,0.294528,0.409002,0.206321,0.153294,0.295587,0.257254,0.495368,...,0.181708,0.336536,0.126131,0.247440,0.256767,0.391172,0.134169,0.178413,0.219415,0.113409
392,0.059048,0.026389,0.113509,0.066558,0.135857,0.167436,0.119851,0.201146,0.162813,0.400928,...,0.244685,0.110982,0.147014,0.025705,0.016378,0.118027,0.139848,0.185949,0.130819,0.334039
393,0.162491,0.077054,0.216952,0.131866,0.239300,0.102128,0.019852,0.266454,0.228121,0.466236,...,0.179377,0.176290,0.043571,0.077738,0.087065,0.221470,0.074540,0.120640,0.065511,0.230596
396,0.197684,0.112247,0.252145,0.160019,0.274493,0.106700,0.024424,0.261882,0.223549,0.461664,...,0.183950,0.202027,0.021999,0.112931,0.122258,0.256663,0.079113,0.125213,0.084906,0.195403
397,0.104625,0.048681,0.159086,0.066960,0.181434,0.202613,0.120336,0.165970,0.127637,0.365751,...,0.279862,0.108967,0.117911,0.038432,0.033923,0.163604,0.175025,0.221125,0.165995,0.288462

In [69]:
low_income_distances.to_csv('low_income_tract_manhattan_distances.csv', sep=',', index=False)